.proyects{
    background-color: var(--DarckBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proyectsContainer{
    max-width: 70rem;
    padding: 10px;
}
.projectsH2{
    color: white;
    text-decoration: underline;
    width: 100%;
    margin: 15px 0;
    text-align: center;
}
.proyectsP{
    width: 100%;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.proyectsName{
    color: white;
    font-size: 18px;
    font-family: Arial;
    margin-left: 10px;
}

.proyectsContainerCard{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 3px #1b2f61;
    border: 2px solid #44475a95;
}
.proyectsImgContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}
.proyectsImg{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.proyectsButtons{
    background-color: #1c2638;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 10px 10px;
}
.proyectsBtn {
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 10px 18px;
    border: 0;
    font-size: 17px;
    transition: 0.3s;
    border-radius: 10px;
    font-family: Arial;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s all;
}
   
.proyectsBtn:hover {
    transform: scale(1.1);
}
   
.proyectsBtn:active {
    transform: translateY(3px);
}  

@media (min-width: 768px) {
    .proyects{
        flex-direction: row;
        justify-content: center;
        min-height: 94vh;
        padding-bottom: 20px;
    }
    .proyectsContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
    }
    .proyectsContainerCard{
        margin-bottom: 0;
        width: 47%;
    }
    .proyectsButtons{
        padding: 5px;
    }
    .projectsH2{
        margin: 0;
    }
    .proyectsName{
        margin-left: 0;
    }
}