.technologies {
    background-color: #1c2638;
    /* background-color: lightblue; */
    padding-top: 15px;
}

.technologiesContainer {
    max-width: 70rem;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: lightgreen; */
}

.technologiesCardContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.25);
    }

    50% {
        opacity: 0.5;
        transform: scale(0.75);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.technologiesH2 {
    color: white;
    text-decoration: underline;
    text-align: center;
    width: 100%;
}

.technologiesP {
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 30px 0;
    width: 100%;
}

.technologiesCard {
    background-color: #0f172a;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 12px;
    padding: 7px;
    border: 2px solid #44475a95;
    width: 35%;
    filter: drop-shadow(
        0 0 10px rgba(0,0,0,0.2)
    );
    transition: all 0.5s;
}

/* .technologiesCard:hover{
    transform: scale(1.1);
} */
.technologiesImg {
    width: 30%;
    height: 80%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.technologiesCard {
    view-timeline-name: --image;
    view-timeline-axis: block;
    /* eje vertical sino inline horizontal */

    animation-timeline: --image;
    /* Este es el enlace entre el scroll y el elemento image */

    animation-name: show;
    /* la animacion que creamos con el keyFrame  */

    animation-range: entry 25% cover 50%;
    /* el rango en el que quiero que la imagen/card se muestre el 100%  */

    animation-fill-mode: both;
    /* para que la animacion vaya en los dos sentidos */
}

.technologiesTitle {
    color: white;
    margin: 10px 0 0 0;
}

.technologiesLearning {
    margin: auto;
    width: 35%;
    background-color: #0f172a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 5px 10px 3px #1b2f61;
    border: 2px solid #44475a95;
    transition: all 0.5s;
}

.technologiesLearning:hover {
    transform: scale(1.1);
}

.technologiesLearningOne {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

@media (min-width:1024px) {
    .technologies {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .technologiesContainer {
        justify-content: start;
    }

    .technologiesCard {
        width: 25%;
        /* border: 1px solid red; */
        padding: 10px 0;
    }

    .technologiesLearning {
        width: 30%;
        padding: 10px 0;
    }
}