*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --maxWidth: 70rem;
  --darkBlue: #0f172a;
  --whiteMore: #D4D4D4;
  --white:  #EDECEC;
  --lightblue: #1c2638;
  --yellow: #eef974;
  /* CCFF00 , F7FF00*/
}

body::-webkit-scrollbar{
  width: .5rem;
  background-color: white;
}
body::-webkit-scrollbar-thumb{
  background: rgba(40, 41, 43, 0.65);
}