.homeContainer {
    background: #1c2638;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.homeInfo {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.homeImgJoaquin {
    margin: 20px;
    object-fit: contain;
    width: 16rem;
    aspect-ratio: 16/9;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.4))
}

.homeIconContainer {
    margin-top: 15px;
}

.homeImgIcon {
    margin: 15px;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0px 2px 5px 10px rgba(0, 0, 0, 0.147);
    border-radius: 100%;
}

.homeImgIcon:hover {
    transform: scale(1.2);
}

.homeSpan {
    font-size: 16px;
    display: block;
    /* font-family: monospace; */
    white-space: nowrap;
    border-right: 3px solid;
    width: 28ch;
    animation: typing 2.5s steps(33),
        blink .5s infinite step-end alternate;
    overflow: hidden;
    margin-bottom: 8px;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@media (min-width:768px) {
    .homeSpan {
        font-size: 33px;
        margin-bottom: 0;
    }

    .homeP {
        margin-top: .5rem;
    }
}

@media (min-width:1024px) {
    .homeContainer {
        flex-direction: row;
    }

    .homeSpan {
        width: 27ch;
    }

    .homeImgJoaquin {
        width: 360px;
        height: 360px;
    }

    .homeInfo {
        margin-bottom: 0px;
    }

    .homeP {
        font-size: 18px;
    }

    .homeImgJoaquin {
        padding: 15px
    }

    .homeIconContainer {
        box-shadow: none;
        border-radius: 0;
    }
}