.contact{
    background-color: #1c2638;
}
.contactContainer{
    max-width: 70rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86vh;
}
.contactH2{
    color: white;
    text-decoration: underline;
    margin-bottom: 15px;
    text-align: center;
}
.p{
    color: white;
    text-align: center;
    margin-bottom: 15px;
}
.contactForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #0f172a;
}
.contactTextarea{
    width: 100%;
    height: 150px ;
    line-height: 25px;
    border: 2px solid transparent;
    border-bottom-color: white;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: white;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    max-width: 100%;
    max-height: 300px;
}

.contactTextarea::placeholder {
    color: rgba(255, 255, 255, 0.542);
}
   
.contactTextarea:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}


.contactinput{
    line-height: 25px;
    border: 2px solid transparent;
    border-bottom-color: white;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: white;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
   
.contactinput::placeholder {
    color: rgba(255, 255, 255, 0.542);
}
   
.contactinput:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}
.contactBtn{
    width: 80px;
    padding: 7px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.link{
    color: white;
}
@media (min-width:1024px) {
    .contactForm{
        width: 70%;
        margin:  20px auto;
    }
    .contactH2{
        text-align: start;
    }
    .p{
        text-align: start;
    }
    .contactContainer{
        align-items: center;
        margin: auto;
    }
}